Node-red 공통프로젝트 flow
[{"id":"6bca5fcbfc955cc9","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"d12287454c85d9b3","type":"rpi-dht22","z":"6bca5fcbfc955cc9","name":"dht11","topic":"rpi-dht11","dht":"11","pintype":"2","pin":"11","x":310,"y":380,"wires":[["26ea28ecc9fb2490","6221a07d48771026","ff4de04703eec3d5","d37bd6eb87d199d2"]]},{"id":"a85c1cc0a86e147c","type":"inject","z":"6bca5fcbfc955cc9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":380,"wires":[["d12287454c85d9b3","0d97d01e42c634c5"]]},{"id":"166acc22ad76b3ca","type":"mysql","z":"6bca5fcbfc955cc9","mydb":"d6dd40497a8a75ae","name":"sensor_log","x":730,"y":580,"wires":[[]]},{"id":"26ea28ecc9fb2490","type":"function","z":"6bca5fcbfc955cc9","name":"DB전송","func":"var sensor = \"'\"+msg.topic+\"'\";\nvar timezoneOffset = new Date().getTimezoneOffset() * 60000; \nvar timezoneDate = new Date(Date.now() - timezoneOffset);\nvar time = timezoneDate.toISOString().slice(0, 19).replace('T', ' ');\nvar temp_c = msg.payload;\nvar temp_f = temp_c * (9/5) +32;\nvar hum_val = msg.humidity;\n\nmsg.topic=\"INSERT INTO collect_data_red(sensor_id,temp_c,temp_f,humidity,time)\";\nmsg.topic=msg.topic+\"VALUES(\"+sensor+\",\\'\"+temp_c+\"\\'\"+\",\\'\"+temp_f+\"\\'\"+\",\\'\"+hum_val+\"\\'\"+\",\\'\"+time+\"\\'\"+\")\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["511c7ed5a14e2b91","166acc22ad76b3ca"]]},{"id":"511c7ed5a14e2b91","type":"debug","z":"6bca5fcbfc955cc9","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":640,"wires":[]},{"id":"8f790284204b88dd","type":"ui_gauge","z":"6bca5fcbfc955cc9","name":"","group":"3534bb6793ce51c5","order":2,"width":0,"height":0,"gtype":"gage","title":"습도","label":"humidity","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","className":"","x":950,"y":340,"wires":[]},{"id":"6221a07d48771026","type":"ui_chart","z":"6bca5fcbfc955cc9","name":"","group":"55e66447f040155a","order":1,"width":0,"height":0,"label":"온도 변화","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":480,"wires":[[]]},{"id":"ff4de04703eec3d5","type":"change","z":"6bca5fcbfc955cc9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["8f790284204b88dd","6deea9c6fec3b45a"]]},{"id":"339f34e1e48925b2","type":"ui_switch","z":"6bca5fcbfc955cc9","name":"섭씨/화씨 전환","label":"섭씨/화씨 전환","tooltip":"섭씨와 화씨 단위를 바꿉니다","group":"3534bb6793ce51c5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":660,"y":300,"wires":[["fc3fadd57bc1bed2"]]},{"id":"fc3fadd57bc1bed2","type":"function","z":"6bca5fcbfc955cc9","name":"전환","func":"if (msg.payload === true){\n    msg.ui_control = {\"min\":0, \"seg1\":20, \"seg2\":35, \"max\":50 };\n    msg.payload = msg.topic+\"℃\";\n}else if(msg.payload === false){\n    msg.ui_control =  {\"min\" :33.8, \"seg1\":70, \"seg2\":100, \"max\":122 };\n    msg.payload = ((msg.topic* (9/5) +32).toFixed(2))+\"℉\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":300,"wires":[["54e1e161b55a469e"]]},{"id":"d37bd6eb87d199d2","type":"function","z":"6bca5fcbfc955cc9","name":"topic = payload","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["339f34e1e48925b2"]]},{"id":"54e1e161b55a469e","type":"ui_gauge","z":"6bca5fcbfc955cc9","name":"","group":"3534bb6793ce51c5","order":1,"width":0,"height":0,"gtype":"gage","title":"온도","label":"temp","format":"{{msg.payload}}","min":"33.8","max":"122","colors":["#05eeff","#00e60f","#d10a0a"],"seg1":"70","seg2":"100","className":"","x":950,"y":300,"wires":[]},{"id":"02c0488fb19a6c0c","type":"usbcamera","z":"6bca5fcbfc955cc9","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":410,"y":700,"wires":[["d68b154825c91a8c","88d4104f371eed6c"]]},{"id":"88d4104f371eed6c","type":"base64","z":"6bca5fcbfc955cc9","name":"","action":"","property":"payload","x":600,"y":700,"wires":[["1ebf93f777f06646"]]},{"id":"1ebf93f777f06646","type":"template","z":"6bca5fcbfc955cc9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{payload}}\" alt =\"이미지\">","output":"str","x":920,"y":720,"wires":[["f5444da77acd9940"]]},{"id":"d68b154825c91a8c","type":"image","z":"6bca5fcbfc955cc9","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":420,"y":780,"wires":[]},{"id":"6deea9c6fec3b45a","type":"ui_chart","z":"6bca5fcbfc955cc9","name":"","group":"55e66447f040155a","order":3,"width":0,"height":0,"label":"습도변화","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":440,"wires":[[]]},{"id":"f5444da77acd9940","type":"ui_template","z":"6bca5fcbfc955cc9","group":"fe9d96084589967f","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1060,"y":720,"wires":[[]]},{"id":"0d97d01e42c634c5","type":"delay","z":"6bca5fcbfc955cc9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"x":160,"y":520,"wires":[["02c0488fb19a6c0c"]]},{"id":"d6dd40497a8a75ae","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"raspi_dht11","tz":"","charset":"UTF8"},{"id":"3534bb6793ce51c5","type":"ui_group","name":"온도/ 습도","tab":"0584a4136a2a1f7f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"55e66447f040155a","type":"ui_group","name":"차트","tab":"ebff444d639cd023","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fe9d96084589967f","type":"ui_group","name":"이미지","tab":"c71a699ee2141285","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"0584a4136a2a1f7f","type":"ui_tab","name":"main","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ebff444d639cd023","type":"ui_tab","name":"chart","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c71a699ee2141285","type":"ui_tab","name":"image","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
